// * @link https://utopia.fyi/space/calculator?c=320,20,1.2,1512,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,s,2xl,12 */
// Old spacing
:root {
    --space-3xs: 8px;

    --space-2xs: 16px;

    --space-xs: 24px;

    --space-s: 32px;

    --space-m: 40px;

    --space-l: 48px;

    --space-xl: 64px;

    --space-2xl: 96px;

    --space-3xl: 144px;
}
