@font-face {
	font-family: "GT Pressura";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/GT-Pressura-Standard-Regular.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "GT Pressura";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("fonts/GT-Pressura-Standard-Bold.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 20px;
	line-height: $font__line-height-body;
}

.dg.ac input {
	font-size: 12px;
}

.text-color-alt {
	color: var(--color-text-alt);
}

.text-color-heading {
	color: var(--color-heading);
}

.text-color-bg {
	color: var(--color-bg);
}

.text-color-text {
	color: var(--color-text);
}

@import "headings";
@import "copy";
