.alignleft {
	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

.flex {
	display: flex;

	&.row {
		flex-flow: column;
		gap: var(--space-s);
		@include media(">tablet") {
			flex-flow: row;
		}
	}
}
.grid-flex {
	@include media(">tablet") {
		display: flex;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	// align-items: flex-start;
}
.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.grid-flex-reverse {
	@include media(">tablet") {
		display: flex;
		flex-direction: row-reverse;
	}
}

.items-end {
	align-items: flex-end;
}
.items-start {
	align-items: flex-start;
}
