button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	cursor: pointer;
	display: flex;
	border-color: transparent;
	padding: var(--space-xs, 1.5rem) var(--space-m, 2.5rem);
	justify-content: space-between;
	align-items: center;
	border-radius: 0;
	background: var(--color-beige, #fcf7f0);
	transition: all $anim-duration ease-out;
	gap: 0.625rem;

	&:active {
		border-color: transparent;
	}

	&:hover:not(.disabled) {
		border-color: var(--color-green-dark);
	}

	&.disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
	&.menu-toggle,
	&.open-menu-toggle {
		background-color: var(--color-theme-white);
		border-color: var(--color-theme-black);
		padding: 8px 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		top: -10px;

		svg {
			font-size: 1.2em;
			& rect {
				transition: all 0.2s ease-in-out;
			}
		}

		&:not(.menu-toggle--menu-open) {
			svg {
				&:hover rect {
					transition: all 0.2s ease-in-out;
					width: 48px;
					x: 0;
				}
			}
		}
	}
}

.ui-element {
	transition: all $anim-duration ease-out;
	box-shadow: 4px 4px 0px 0px #000000;
	border-radius: 8px;
	&:hover {
		transform: translate(1px, 1px);
		box-shadow: 2px 2px 0px 0px #000000;
	}
}

.table-filter {
	min-height: fit-content;
	position: relative;
	&__container {
	}
	&__button {
	}
	&__items {
		position: absolute;
		top: 100%;
		left: 0;
		background: transparent;
		list-style: none;
		visibility: hidden;
		width: 100%;
	}
	&__item {
		margin-top: 0.5rem;
		width: 100%;
		& button {
			width: 100%;
		}
	}
}
