input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	font-size: 20px;
	width: 100%;
	padding: 8px 0;
	border: none;
	transition: border-color 250ms;
	background-color: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid var(--border-border-primary, #0f4533);
	background-color: transparent;
	@include text-style-copy-copy-3-mobile;
	@include media(">=tablet") {
		@include text-style-copy-copy-3;
	}

	&:focus {
		outline: none;
		border-bottom-color: #777;
	}

	&::placeholder {
		color: transparent;
	}

	// Hide Safari's autofill button
	&::-webkit-contacts-auto-fill-button {
		visibility: hidden;
		pointer-events: none;
		position: absolute;
	}

	&:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}
	}
}

input[type="checkbox"] {
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: #fff;
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: url("assets/icons/Type=Checked.svg");
	width: 1.49em;
	height: 1.49em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	cursor: pointer;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.wpcf7-checkbox label {
	cursor: pointer;
}

select {
	cursor: pointer;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	background: var(--color-bg)
		url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="18" viewBox="0 0 34 18" fill="none"><path d="M1 1L17 17L33 1" stroke="%230F4533"/></svg>')
		no-repeat;
	background-position: bottom 15px right 20px;
}

textarea {
	padding: 3rem 0;
	width: 100%;
}

input,
select {
	&[class$="hidden"] {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}
}

.wpcf7-response-output {
	display: none;
}

.wpcf7-form-control.wpcf7-acceptance {
	.just-validate-error-label {
		left: 0;
		position: absolute;
		transform: scale(1);
	}
}
