.form-controls {
    list-style: none;
    margin: 0;
}

.form-control {
    position: relative;
    display: flex;
    flex-flow: column-reverse;
    margin-top: 30px;
    margin-inline: auto;
    gap: 2.5rem;
    & label,
    & input {
        transition: all $anim-duration;
        touch-action: manipulation;
    }

    & select {
        padding-bottom: 20px;
        margin-top: -20px;
        @include text-style-links-inputs-input-mobile;
        @include media(">=tablet") {
            @include text-style-links-inputs-input;
        }
    }
}

.form-submit {
    display: flex;
    justify-content: flex-start;
    flex-flow: row-reverse;
    align-items: center;
    margin-top: calc(var(--space-m));
}

.floating-label {
    position: absolute;
    top: 8px;
    left: 0;
    transform: translate(0px, -16px);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
    @include text-style-links-inputs-input-mobile;
    @include media(">=tablet") {
        @include text-style-links-inputs-input;
    }
}
input:focus + .floating-label,
textarea:focus + .floating-label,
input:not(:placeholder-shown) + .floating-label,
textarea:not(:placeholder-shown) + .floating-label {
    transform: translate(0, -100%) scale(0.5);
}
/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    opacity: 1;
}

.form-control + .form-control {
    margin-top: var(--space-xs);
}

.wpcf7-list-item {
    margin: 0;
    label {
        cursor: pointer;
        gap: 10px;
        display: flex;
        align-items: center;
    }
}
.just-validate-error-label {
    position: absolute;
    top: -6px;
    right: 0;
    transform: scale(0.7);
    display: flex;
    align-items: center;
    &:after {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM9 13V15H11V13H9ZM11 8.42857V5H9V8.42857L9.47761 12H10.5224L11 8.42857Z" fill="%230F4533"/></svg>');
        color: red;
        position: relative;
        top: 3px;
        left: 6px;
    }
    @include text-style-functional-notification;

    select ~ & {
        right: 40px;
    }
}

// select + .just-validate-error-label {
//     right: 6%;
// }
textarea ~ .just-validate-error-label {
}

.wpcf7-form {
    max-width: 800px;
}

.wpcf7 form .wpcf7-response-output {
    margin-left: 3em;
}

.cf7-form-block {
    margin: 5rem 0;
}
