.admin-bar .main-navigation {
	padding-top: var(--space-s);
}

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	position: relative;
	max-width: none;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	max-width: 400px;
	transition: all 0.3s ease-in-out;

	& .menu-toggle {
		margin-left: calc(var(--space-l) + 6px);

		&[aria-expanded="true"] {
			.closed {
				display: none;
			}
		}
		&[aria-expanded="false"] {
			.open {
				display: none;
			}
		}
	}
	@include media(">tablet") {
		& .menu-toggle {
			margin-left: calc(var(--space-m));
		}
	}
}

.menu-primary-menu-container {
	position: relative;
	padding-top: var(--space-2xl);
}

.main-navigation {
	position: fixed;
	display: flex;
	flex-flow: column;
	gap: var(--space-m);
	z-index: 99;
	top: 0;
	right: 0;
	height: 100%;
	padding: var(--space-s) var(--space-l) 0 var(--space-l);
	transform: translate(100%, 0);
	transition: all ease-in-out $anim-duration;
	background-color: var(--color-theme-primary);
	border-left: 2px solid var(--color-theme-white);
	width: 25vw;
	min-width: 100%;

	@include media(">phone") {
		width: 42vw;
		min-width: auto;
	}

	&--open {
		transform: translate(0, 0);
	}

	&__header {
		min-height: 100px;
		display: flex;
		// flex-flow: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding: 0 var(--space-xs) var(--space-s) 0;
		& .kicker {
			align-self: flex-end;
			text-transform: uppercase;
		}

		& button {
			align-self: flex-start;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.menu {
		list-style: none;
		display: flex;
		flex-flow: column;
		gap: var(--space-2xs);
	}
	.menu-primary-menu-container {
		& .menu-item {
			& a {
				display: flex;
				align-items: center;
				width: auto;
				&:hover::after {
					transform: translateX(var(--space-3xs));
					opacity: 1;
					transition: all 0.3s ease-in-out;
				}
				&::after {
					position: relative;
					content: "";
					display: block;
					width: 32px;
					height: 32px;
					background: url(assets/icons/arrow_right.svg) no-repeat center center;
					opacity: 0;
					transition: all 0.3s ease-in-out;
				}
			}
			@include text-style-links-inputs-navigation-mobile-new;
			@include media(">tablet") {
				@include text-style-links-inputs-input;
			}
		}
	}

	.menu-secondary-menu-container {
		.menu {
			list-style: none;
			display: flex;
			flex-flow: column;
			gap: var(--space-2xs);
			& .menu-item {
				display: inline;

				@include text-style-links-inputs-navigation-mobile-new;
				@include media(">tablet") {
					@include text-style-links-inputs-input;
				}
			}
		}
	}
}
