.module-hero {
    padding: var(--space-2xl) 0 0 0;

    & .title {
        display: inline-block;
        color: var(--color-heading);
        display: inline-block;
        text-overflow: ellipsis;
        max-width: 90vw;
    }

    h1.title mark,
    h2.title mark,
    h3.title mark {
        color: var(--color-text-alt);
        background-color: transparent;
        display: inline-block;
        text-overflow: ellipsis;
        max-width: 90vw;
    }

    .breadcrumbs {
        display: flex;
        align-items: center;
    }

    .crumb,
    svg {
        margin-right: 1rem;
    }

    .crumb,
    .crumb + svg {
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-heading);
    }

    .crumb:not(.root-crumb) {
        @include truncate;
    }

    .root-crumb,
    .root-crumb + svg > path {
        color: var(--color-text-alt);
    }

    /** Fallback Image */
    .fallback-image {
        pointer-events: none;
        display: none;
    }

    .fallback-image {
        position: absolute;
        right: calc(-3 * var(--space-xl));
        top: calc(-5 * var(--space-xl));
        transform: scale(0.8);
        @include media(">=phone") {
            right: calc(-3 * var(--space-xl));
            top: calc(-5 * var(--space-xl));
            transform: scale(1.4);
        }
        @include media(">=tablet") {
            right: calc(-2 * var(--space-xl));
            top: calc(-2 * var(--space-2xl));
            transform: scale(1.4);
        }
        @include media(">=desktop") {
            right: calc(-1 * var(--space-xl));
            top: calc(-2 * var(--space-2xl));
            transform: scale(1.8);
        }
    }

    .text-page & .block-theme {
        max-width: none;

        width: 100%;
        max-width: none;

        .breadcrumb-wrapper {
            width: 93%;
            max-width: 92rem;
            margin: 0 auto;
        }

        .crumb {
            color: var(--color-theme-secondary);
        }
        .root-crumb {
            color: var(--color-theme-primary);
        }
        .space-module {
            padding: 0;
        }
        background-color: var(--color-theme-white);
        color: var(--color-theme-secondary);

        & .title {
            display: block;
            padding-top: var(--space-2xl);
            color: var(--color-theme-secondary);
            width: 93%;
            max-width: 840px;
            margin: 0 auto;
            @include text-style-headlines-h-3-mobile;
            @include media(">=tablet") {
                @include text-style-headlines-h-3-tablet;
            }
            @include media(">=desktop") {
                @include text-style-headlines-h-3-desktop;
            }
        }
    }
}
