@import "../../../assets/sass/abstracts";
@import "../../../assets/sass/base/animations/transitions";
@import "../../../assets/sass/components";
@import "../../../assets/sass/base/molecules/";
@import "../../../assets/sass/base/spacing/";
@import "../../../assets/sass/base/typography/";

@import "../../../assets/sass/layouts/grid";

.module-palette-primary {
  --color-bg: var(--color-theme-primary-green-light, #ebf4ef);
  --color-heading: var(--color-theme-primary-green-dark, #0f4533);
  --color-text: var(--color-theme-primary-green-dark, #0f4533);
  --color-text-alt: var(--color-theme-white, #fff);
}
.module-palette-secondary {
  --color-bg: var(--color-theme-primary-green-light, #ebf4ef);
  --color-heading: var(--color-theme-primary-green-dark, #0f4533);
  --color-text: var(--color-theme-primary-green-dark, #0f4533);
  --color-text-alt: var(--color-theme-white, #fff);
}
.module-palette-white {
  --color-bg: var(--color-theme-primary-green-light, #ebf4ef);
  --color-heading: var(--color-theme-primary-green-dark, #0f4533);
  --color-text: var(--color-theme-primary-green-dark, #0f4533);
  --color-text-alt: var(--color-theme-white, #fff);
}
.module-palette-grey {
  --color-bg: var(--color-theme-primary-green-light, #ebf4ef);
  --color-heading: var(--color-theme-primary-green-dark, #0f4533);
  --color-text: var(--color-theme-primary-green-dark, #0f4533);
  --color-text-alt: var(--color-theme-white, #fff);
}

.is-root-container {
  background-color: var(--color-bg);
}

.block-editor-wrapper.block-theme.row {
  padding: 2rem;
}

* {
  font-family: "Beausite Grand";
}

.block-theme,
.block-theme input,
.block-theme textarea,
.block-theme button,
.block-theme *::placeholder {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.ui-element {
  transition: all 300ms ease-out;
  box-shadow: 4px 4px 0px 0px #000000;
  border-radius: 8px;
  &:hover {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 0px 0px #000000;
  }
}
.block-theme .text-color-alt {
  color: var(--color-text-alt);
}
.block-theme .text-color-heading {
  color: var(--color-heading);
}
.block-theme .text-color-bg {
  color: var(--color-bg);
}
.block-theme .text-color-text {
  color: var(--color-text);
}
.block-theme {
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  .button {
    transition: all 300ms ease-out;
    border: 2px solid;
    border-color: var(--color-text);
    border-radius: 8px;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1;
    padding: 0.3em 0.3em;
    box-shadow: 4px 4px 0px 0px #000000;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      transform: translate(1px, 1px);
      box-shadow: 1px 1px 0px 0px #000000;
      border-color: var(--color-text-alt);
    }

    &:active,
    &:focus {
      border-color: var(--color-theme-black);
    }

    &:active {
      transform: translate(4px, 4px);
      box-shadow: 0px 0px 0px 0px #000000;
    }

    &:disabled {
      transform: translate(4px, 4px);
      box-shadow: 0px 0px 0px 0px #000000;
      color: var(--color-theme-black);
      background-color: transparent;
    }

    &.header-cta {
      // z-index: 1;
      // position: relative;
      background-color: var(--color-theme-secondary);
      padding: 0.4em 0.6em;

      border-color: var(--color-theme-black);

      &:hover {
        border-color: lighten(#000, 30%);
      }
    }
    &.menu-toggle,
    &.open-menu-toggle {
      // z-index: 1;
      // position: relative;
      border-color: var(--color-theme-black);

      &:hover {
        border-color: var(--color-theme-black);
      }

      &:active,
      &:focus {
        border-color: var(--color-text);
      }
    }

    &.scroll-button {
      border-color: var(--color-theme-white);
      color: var(--color-theme-white);
      padding-left: var(--space-2xs);
      padding-right: var(--space-2xs);
      box-shadow: none;

      &:hover {
        transform: translate(0px, -1px);
      }
    }
  }
}

.editor-styles-wrapper .block-editor-plain-text,
.block-editor-rich-text__editable.paragraph.rich-text {
  font-family: "Founders Grotesk";
  color: var(--color-theme-primary-green-dark);
}

.block-editor-link-control {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.block-editor-plain-text.title {
  font-size: 2rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;

  @media only screen and (min-width: 900px) {
    font-size: 2.4rem;
    font-family: "Founders Grotesk";
    font-weight: 700;
    font-style: normal;
    line-height: 56px;
    text-decoration: none;
    text-transform: none;
  }
}
.block-editor-plain-text.kicker {
  font-size: 1rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
}

.text-quote-large,
.quote-large {
  font-size: 2rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 38px;
  text-decoration: none;
  text-transform: none;
}

.link-small {
  font-size: 1rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
}

.copy-regular {
  font-size: 1rem;
  font-family: "Founders Grotesk";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
}

@media (min-width: 1024px) {
  .copy-regular {
    font-size: 1.2rem;
    font-family: "Founders Grotesk";
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    text-transform: none;
  }
}

.copy-bold {
  font-size: 1rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
}
@media (min-width: 1024px) {
  .copy-bold {
    font-size: 1.2rem;
    font-family: "Founders Grotesk";
    font-weight: 700;
    font-style: normal;
    line-height: 28px;
    text-decoration: none;
    text-transform: none;
  }
}
.text-h2 {
  font-size: 4.8rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 102px;
  text-decoration: none;
  text-transform: none;
}

.text-h1 {
  font-size: 5.6rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 120px;
  text-decoration: none;
  text-transform: uppercase;
  @media (min-width: 1024px) {
    font-size: 7.5rem;
    font-family: "Founders Grotesk";
    font-weight: 700;
    font-style: normal;
    line-height: 160px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.text-h3 {
  font-size: 2rem;
  font-family: "Founders Grotesk";
  font-weight: 700;
  font-style: normal;
  line-height: 48px;
  text-decoration: none;
  text-transform: none;

  @media (min-width: 1024px) {
    font-size: 2.4rem;
    font-family: "Founders Grotesk";
    font-weight: 700;
    font-style: normal;
    line-height: 56px;
    text-decoration: none;
    text-transform: none;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.w-50 {
  width: 50%;
}

.model-image {
  pointer-events: none;
}

.wp-block-vitestarter-form .components-input-control__container .components-input-control__input {
  padding: 18px !important;
}

textarea,
input,
button,
select,
optgroup,
option {
  z-index: 2;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #0f4533;
}

::placeholder {
  color: var(--color-theme-primary-green-middle);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: var(--color-theme-primary-green-middle);
}

.edit-link {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem 0;
  width: max-content;
  & h4 {
    margin: 0 0 0.3rem 0;
  }

  & > button {
    margin: 2rem 0 3rem 1rem;
    height: 50%;
  }

  & .block-editor-link-control {
    margin-block-end: 0;
    margin-block-start: 0.5em;
  }
  & .block-editor-link-control__search-item {
    padding: 0;
  }
  & .block-editor-link-control__search-item-title {
    display: none;
  }
}

.edit-image {
  position: relative;
  & .button-remove {
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
}
