:root {
    --grid-columns: 4;

    --grid-margin: 24px;
    --grid-gutter: 24px;

    @include media(">=phone-xs") {
        --grid-margin: 24px;
    }
    @include media(">=phone") {
        --grid-columns: 8;
        --grid-margin: 48px;
    }
    @include media(">=tablet") {
        --grid-columns: 12;
    }
    @include media(">=desktop-lg") {
        --grid-margin: 120px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gutter);
    margin: 0 var(--grid-margin);
}
